[Unit]
Description=OCPP Central System
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/cs.pid
# cs will fail to start if /run/cs.pid already exists but has the wrong
# SELinux context. This might happen when running `cs -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/cs.pid
ExecStartPre=/usr/sbin/cs -t
ExecStart=/usr/sbin/cs
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
